[Desktop Entry]
Name=ETA QR Reader
Name[pt]=Leitor QR ETA
Name[tr]=ETA Karekod Okuyucu
Comment=Allows you to read QR code from the screen
Comment[pt]=Permite-lhe ler o código QR a partir do ecrã
Comment[tr]=Ekrandan qr kodunu okumanızı sağlar
Exec=eta-qr-reader
Icon=eta-qr-reader
Terminal=false
Type=Application
Categories=GTK;Utility;
StartupNotify=true
Keywords=qr;code;
Keywords[pt]=qr;código
Keywords[tr]=qr;kod
